// 颜色

$color-red:red;

$color-yellow: #ffc309;

$color-white: white;
$color-orange: rgb(253, 176, 69);

$color-light-gray: #F5F5F5;

// 删除圆形按钮组合
$delete-outer: white;
// 图形界面
$list-ui-bg: #ffc309;
$list-ui-color: white;
$list-ui-bg-add: #68cdfd;

